.App {
  text-align: center;
}
.todo-item h3 {
  display: inline-block;
}
.edit-span {
  margin: 0 1rem;
  font-size: 0.8rem;
  color: #d6d3d3;
}
.skyblue {
  background-color: skyblue;
}
.lightpink {
  background-color: lightpink;
}
.red {
  background-color: red;
}
