.App {
  padding: 5vh 5vw;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./todoimg.jpeg");
}
.todo-item h3 {
  display: inline-block;
}
.edit-span {
  margin: 0 1rem;
  font-size: 0.8rem;
  color: #d6d3d3;
}
.skyblue {
  background-color: skyblue;
}
.lightpink {
  background-color: lightpink;
}
.red {
  background-color: red;
}
